@using MVC5FullCalandarPlugin.Models
@model List<User>

@helper GeneratePanel(PublicHoliday holiday)
{
     if (holiday.Image != null)
     {
         <img class="img" id="imageDay" src=@holiday.Image.Url style="height: 45%; object-fit: cover;"/>
         <br/>
     }
     else
     {
         <img class="img" id="imageDay" src="https://webref.ru/assets/images/html5-css3/img-04.jpg" style="height: 45%; object-fit: cover;"/>
         <br/>
     }

    <div class="panelWithLabels">
        <label class="labels"> Date: </label> <br/>
        <div class="textLabels date">@holiday.End_Date</div>
        <label class="labels"> Title: </label> <br/>
        <div class="textLabels title">@holiday.Title </div>
        <label class="labels"> Time: </label> <br/>
        <div class="textLabels time">@holiday.Time</div>
        <label class="labels"> Description: </label> <br/>
        <div class="textLabels description">@holiday.Description</div>
    </div>
}


@helper GenerateUser(User user)
{
        foreach (var day in user.Days)
         {
             foreach (var holiday in day.PublicHolidays)
             {
                 switch (holiday.Status)
                 {
                     case "done":
                         <div class="EventPanel" id=@holiday.Id data-user=@user.Email style="border: green solid 1px; border-left: green solid 15px;">@GeneratePanel(holiday)</div>
                         break;
                     case "new":
                         <div class="EventPanel" id=@holiday.Id data-user=@user.Email style="border: greenyellow solid 1px; border-left: greenyellow solid 15px;">@GeneratePanel(holiday)</div>
                         break;
                     case "inProgress":
                         <div class="EventPanel" id=@holiday.Id data-user=@user.Email style="border: blue solid 1px; border-left: blue solid 15px;">@GeneratePanel(holiday)</div>
                         break;
                     case "end":
                         <div class="EventPanel" id=@holiday.Id data-user=@user.Email style="border: grey solid 1px; border-left: gray solid 15px;">@GeneratePanel(holiday)</div>
                         break;
                     case "checking":
                         <div class="EventPanel" id=@holiday.Id data-user=@user.Email style="border: orange solid 1px; border-left: orange solid 15px;">@GeneratePanel(holiday)</div>
                         break;
                     default:
                         <div class="EventPanel" id=@holiday.Id data-user=@user.Email style="border: blue solid 1px; border-left: blue solid 15px;">@GeneratePanel(holiday)</div>
                         break;
                 }
             }
         }
}

<button class="addNewEventAll">Add New</button>
<div class="eventContainer" style="padding-top: 2%">
    
   
    
   

    @foreach (var user in Model)
    {
        @GenerateUser(user);
    }
</div>
